<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern><![CDATA[
[%d{yyyy-MM-dd HH:mm:ss}] [uid=%X{uid},uri=%X{uri},host=%X{host},ref=%X{referrer},ua=%X{ua}]  %-5level %logger{35} - %m%n
            ]]></pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern><![CDATA[
[%d{yyyy-MM-dd HH:mm:ss}] [uid=%X{uid},uri=%X{uri},host=%X{host},ref=%X{referrer},ua=%X{ua}]  %-5level %logger{35} - %m%n
            ]]></pattern>
            <charset>utf8</charset>
        </encoder>
        <file>${LOG_PATH}/order.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/order.%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <MaxHistory>7</MaxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>300MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="ERROR-FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern><![CDATA[
[%d{yyyy-MM-dd HH:mm:ss}] [uid=%X{uid},uri=%X{uri},host=%X{host},ref=%X{referrer},ua=%X{ua}]  %-5level %logger{35} - %m%n
            ]]></pattern>
            <charset>utf8</charset>
        </encoder>
        <file>${LOG_PATH}/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/error.%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <MaxHistory>7</MaxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>300MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="SQL-FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern><![CDATA[
[%d{yyyy-MM-dd HH:mm:ss}] [uid=%X{uid},uri=%X{uri},host=%X{host},ref=%X{referrer},ua=%X{ua}]  %-5level %logger{35} - %m%n
            ]]></pattern>
            <charset>utf8</charset>
        </encoder>
        <file>${LOG_PATH}/sql.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/sql.%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <MaxHistory>7</MaxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>300MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="PERFORMANCE-FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern><![CDATA[
[%d{yyyy-MM-dd HH:mm:ss}] [uid=%X{uid},uri=%X{uri},host=%X{host},ref=%X{referrer},ua=%X{ua}]  %-5level %logger{35} - %m%n
            ]]></pattern>
            <charset>utf8</charset>
        </encoder>
        <file>${LOG_PATH}/performance.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/performance.%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <MaxHistory>7</MaxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>300MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="METHOD-FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern><![CDATA[
[%d{yyyy-MM-dd HH:mm:ss}] [uid=%X{uid},uri=%X{uri},host=%X{host},ref=%X{referrer},ua=%X{ua}]  %-5level %logger{35} - %m%n
            ]]></pattern>
            <charset>utf8</charset>
        </encoder>
        <file>${LOG_PATH}/method.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/method.%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <MaxHistory>7</MaxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>300MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>


    <!-- graylog -->
    <appender name="gelfAppender" class="biz.paluch.logging.gelf.logback.GelfLogbackAppender">
        <host>udp:10.252.12.109</host>
        <port>12203</port>
        <version>1.1</version>
        <facility>order</facility>
        <extractStackTrace>true</extractStackTrace>
        <filterStackTrace>true</filterStackTrace>
        <mdcProfiling>true</mdcProfiling>
        <timestampPattern>yyyy-MM-dd HH:mm:ss,SSSS</timestampPattern>
        <maximumMessageSize>8192</maximumMessageSize>

        <!-- This are static fields -->
        <additionalFields>fieldName1=fieldValue1,fieldName2=fieldValue2</additionalFields>
        <!-- Optional: Specify field types -->
        <additionalFieldTypes>fieldName1=String,fieldName2=Double,fieldName3=Long</additionalFieldTypes>

        <!-- This are fields using MDC -->
        <mdcFields>mdcField1,mdcField2</mdcFields>
        <dynamicMdcFields>mdc.*,(mdc|MDC)fields</dynamicMdcFields>
        <includeFullMdc>true</includeFullMdc>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <logger name="org.springframework">
        <level value="info" />
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="gelfAppender" />
    </logger>
    <logger name="org.springboot">
        <level value="info" />
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="gelfAppender" />
    </logger>
    <logger name="com.alibaba.dubbo">
        <level value="info" />
        <appender-ref ref="CONSOLE" />
    </logger>
    <logger name="com.mytijian"  >
        <level value="info" />
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ERROR-FILE" />
        <appender-ref ref="gelfAppender" />
    </logger>
    <logger name="druid.sql">
        <level value="info" />
        <appender-ref ref="SQL-FILE" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="gelfAppender" />
    </logger>
    <logger name="performance">
        <level value="info" />
        <appender-ref ref="PERFORMANCE-FILE" />
        <appender-ref ref="gelfAppender" />
    </logger>
    <logger name="method">
        <level value="info" />
        <appender-ref ref="METHOD-FILE" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="gelfAppender" />
    </logger>

    <root level="info">
        <appender-ref ref="gelfAppender" />
    </root>
</configuration>