<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" contentURL="width=device-width,height=device-height,user-scalable=no,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
	<title>我是一个小胖子的个人博客</title>
	<meta name="keywords" contentURL="我是一个小胖子的个人博客">
	<meta name="description" contentURL="我是一个小胖子的个人博客">
	<link rel="stylesheet" href="/css/reset.css" >
	<link rel="stylesheet" type="/text/css" href="/css/index.css">
</head>
<body >
<!-- 头部导航开始 -->
  <div class="header">

      <ul >
        <li><a href="#">首页</a></li>
	    <li><a href="#">孜孜不倦</a></li>
	    <li><a href="#">锲而不舍</a></li>
	    <li><a href="#">时光隧道</a></li>
	    <li><a href="#">日记</a></li>
	    <li><a href="#">留言</a></li>
      </ul>
    <div class="hide">
       <span>我是一个小胖子</span>
       <img src="/images/menu.png">
    </div>
  </div>	
<!-- 头部导航结束 -->
<!-- banner开始 -->
  <div class="banner">
     <div class="maxbanner">
        <img src="/images/banner.jpg">
     </div>
  </div>
<!-- banner结束 -->
<!-- 座右铭开始 -->
<div class="motto container clearfix">
  <ul class="clearfix">
   <li >
      <fieldset>
         <legend>业精于勤</legend>
         <p>“业精于勤荒于嬉”，精深的业技靠的是勤学、刻苦努力，靠的是争分夺秒的勤学苦练才会有精深的技术。得在认真，失在随便。</p>
      </fieldset>
   </li>
   <li >
      <fieldset>
         <legend>学无止境</legend>
         <p>学习，探索，研究，从不了解到了解，从无知到掌握，到灵活运用，在不断的学习中加深认识。由浅入深，由表及里。</p>
      </fieldset>
   </li>
   <li>
      <fieldset>
         <legend>工匠精神</legend>
         <p>精益求精，注重细节，追求完美和极致，不惜花费时间精力，孜孜不倦，不断追求品质，反复改进产品，把99%提高到99.99%。</p>
      </fieldset>
   </li>
  </ul>
</div>
<!-- 座右铭结束 -->
<!-- study开始 -->
<div class="study clearfix">
  <span class="img">
    <img src="/images/study.jpg" height="100" width="100">
  </span>
  <span class="word">
     <ul>
        <li><nobr>古人云：学而时习之，不亦说乎。</nobr></li>
        <li><nobr>古人云：温故而知新，可以为师也。</nobr></li>
        <li><nobr>超子云：骚年，一起学习吧！</nobr></li>

     </ul>
  </span>
</div>	
<!-- study结束 -->
<!-- 内容开始 -->
<div class="contentURL clearfix">
  <div class="left">
    <ul>
       <li>
          <h2 class="title"><a href="#">我是一个小胖子的第一个页面</a></h2>
          <p class="time">1小时前</p>
          <p class="desc">LzCMS（老张博客系统）用的是ThinkPHP+Layui写的，所以404页面也遵循ThinkPHP抛出异常机制在/’application/config.php 文件下修改：   'app_debug'              => true,改为：   'app_debug'              => false</p>
       </li>
       <li>
          <h2 class="title"><a href="#">我是一个小胖子的第一个页面</a></h2>
          <p class="time">1小时前</p>
          <p class="desc">LzCMS（老张博客系统）用的是ThinkPHP+Layui写的，所以404页面也遵循ThinkPHP抛出异常机制在/’application/config.php 文件下修改：   'app_debug'              => true,改为：   'app_debug'              => false</p>
       </li>
       <li>
          <h2 class="title"><a href="#">我是一个小胖子的第一个页面</a></h2>
          <p class="time">1小时前</p>
          <p class="desc">LzCMS（老张博客系统）用的是ThinkPHP+Layui写的，所以404页面也遵循ThinkPHP抛出异常机制在/’application/config.php 文件下修改：   'app_debug'              => true,改为：   'app_debug'              => false</p>
       </li>
       <li>
          <h2 class="title"><a href="#">我是一个小胖子的第一个页面</a></h2>
          <p class="time">1小时前</p>
          <p class="desc">LzCMS（老张博客系统）用的是ThinkPHP+Layui写的，所以404页面也遵循ThinkPHP抛出异常机制在/’application/config.php 文件下修改：   'app_debug'              => true,改为：   'app_debug'              => false</p>
       </li>
       <li>
          <h2 class="title"><a href="#">我是一个小胖子的第一个页面</a></h2>
          <p class="time">1小时前</p>
          <p class="desc">LzCMS（老张博客系统）用的是ThinkPHP+Layui写的，所以404页面也遵循ThinkPHP抛出异常机制在/’application/config.php 文件下修改：   'app_debug'              => true,改为：   'app_debug'              => false</p>
       </li>
    </ul>
    <button class="more"> 更多知识等你分享</button>
  </div>
  <div class="right">
     <div class="infor right-hide">
       <span>博主信息</span>
       <ul>
         <li>姓名：瞿超超</li>
         <li>职业：web前端</li>
         <li>兴趣：看剧，看书</li>
         <li>座右铭：业精于勤、学无止境、工匠精神</li>
         <li>qq号码：233568456</li>
       </ul>
     </div>
     <div class="tuijian right-hide">
       <span>最新文章</span>
       <ul>
         <li><a href="#">曾用过的十大富文本编辑器</a></li>
         <li><a href="#">曾用过的十大富文本编辑器</a></li>
         <li><a href="#">曾用过的十大富文本编辑器</a></li>
         <li><a href="#">曾用过的十大富文本编辑器</a></li>
       </ul>
     </div>
     <div class="hot right-hide">
        <span>最近热文</span>
       <ul>
         <li><a href="#">曾用过的十大富文本编辑器</a></li>
         <li><a href="#">曾用过的十大富文本编辑器</a></li>
         <li><a href="#">曾用过的十大富文本编辑器</a></li>
         <li><a href="#">曾用过的十大富文本编辑器</a></li>
       </ul>
     </div>
  </div>
</div>
<!-- 内容结束 -->
<!-- 页脚开始 -->
<div class="foot">  
    <p>我是一个小胖子 &copy;<a href="#">littlefat.com</a></p>
    <p>
      <a href="http://www.baidu.com" target="_blank" class="beian">备案：1253654789525</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="http://www.baidu.com" target="_blank" class="num">编号：1253654789525</a>
    </p>
</div>
<!-- 页脚结束 -->
<div class="top">
  <img src="/images/top.png">
</div>
<div id="hide-nav">
  <ul>
    <li><a href="#">孜孜不倦</a></li>
    <li><a href="#">锲而不舍</a></li>
    <li><a href="#">时光隧道</a></li>
    <li><a href="#">日记</a></li>
  </ul>
</div>
<script src="/js/index.js"></script>
</body>
</html>