<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzj.dao.AccountDao">
    <!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache">
     </cache>-->
    <resultMap id="userResultMap" type="com.lzj.domain.Account">
        <id column="id" property="id"></id>
        <result column="password" property="password"></result>
        <result column="email" property="email"></result>
        <result column="head_icon" property="headIcon"/>
        <result column="gender" property="gender"/>
        <result column="city" property="city"/>
        <result column="age" property="age"/>
        <result column="school" property="school"/>
        <result column="blog_year" property="blogYear"/>
        <result column="mobile" property="mobile"/>
        <result column="occupation" property="occupation"/>
        <result column="personal_signature" property="personalSignature"/>
        <result column="sign" property="sign"/>
        <result column="birth" property="birth" jdbcType="TIMESTAMP"/>
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
        <result column="user_name" property="userName"/>
    </resultMap>
    <sql id="userField">
        password,
        email,
        create_time,
        head_icon,
        gender,
        city,
        age,
        school,
        blog_year,
        mobile,
        occupation,
        personal_signature,
        sign,
        birth,
        user_name
    </sql>
    <insert id="insertAccount" useGeneratedKeys="true" keyProperty="id" parameterType="com.lzj.domain.Account">
        INSERT INTO tb_account
        (<include refid="userField"></include>,update_time)
        VALUES
        (#{password},#{email},#{createTime},#{headIcon},#{gender},#{city},#{age},
        #{school},#{blogYear},#{mobile},#{occupation},#{personalSignature},#{sign},
        #{birth},#{userName},#{updateTime})
    </insert>
    <update id="updateUser">
        UPDATE tb_account
        <set>
            <if test="param.headIcon != null">
                head_icon =#{param.headIcon},
            </if>
            <if test="param.password!=null">
                password=#{param.password},
            </if>
            <if test="param.email!=null">
                email=#{param.email},
            </if>
            <if test="param.gender !=null">
                gender = #{param.gender},
            </if>
            <if test="param.birth != null">
                birth = #{param.birth},
            </if>
            <if test="param.age != null">
                age = #{param.age},
            </if>
            <if test="param.blogYear != null">
                blog_year=#{param.blogYear},
            </if>
            <if test="param.mobile != null">
                mobile = #{param.mobile},
            </if>
            <if test="param.occupation != null">
                occupation = #{param.occupation},
            </if>
            <if test="param.personalSignature != null">
                personal_signature = #{param.personalSignature},
            </if>
            <if test="param.sign != null">
                sign = #{param.sign},
            </if>
            <if test="param.userName !=null">
                user_name=#{param.userName},
            </if>
            <if test="param.city != null">
                city = #{param.city},
            </if>
            update_time=#{param.updateTime}
        </set>
        WHERE id=#{param.id}
    </update>

    <select id="findByDto" resultMap="userResultMap" useCache="true">
        SELECT id,<include refid="userField"></include> from tb_account WHERE
        1=1
        <if test="param.email != null">
            and email = #{param.email}
        </if>
        <if test="param.password != null ">
            and password = #{param.password}
        </if>
        <if test="param.id != null">
            and id = #{param.id}
        </if>
    </select>
    <select id="findAll" resultMap="userResultMap" useCache="true">
        select id , <include refid="userField"></include> from tb_account
    </select>
    <select id="findAccountsByIds" resultMap="userResultMap" useCache="true">
        SELECT id,<include refid="userField"></include> from tb_account WHERE
        id in
        <foreach collection="param" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>
    <select id="searchAccount" resultMap="userResultMap">
        SELECT id, email, user_name,gender,age from tb_account
        WHERE
        id != #{currentAccountId} and
        id not in (select friend_id from tb_friend where current_account_id = #{currentAccountId} and friend_status = 1)
        <if test="searchKey != null">
            and ( email like CONCAT('%',#{searchKey},'%')
        </if>
        <if test="searchKey != null">
            or user_name LIKE CONCAT('%',#{searchKey},'%') )
        </if>
    </select>
</mapper>