<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzj.dao.UserDao" >
    <resultMap id="userResultMap" type="com.lzj.domain.User">
        <id column="id" property="id"></id>
        <result column="user_name" property="userName"></result>
        <result column="password" property="password"></result>
        <result column="email" property="email"></result>
        <result column="role" property="role" typeHandler="com.lzj.utils.handler.EnumTypeHandler"></result>
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
        <result column="icon" property="icon"></result>
    </resultMap>
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id" parameterType="com.lzj.domain.User" >
      INSERT INTO user (user_name,password,email,role,create_time,update_time,icon) VALUES (#{userName},#{password},#{email},#{role},#{createTime},#{updateTime},#{icon})
    </insert>
    <update id="updateUser" parameterType="com.lzj.domain.User">
        UPDATE user set
        <if test="userName!=null">
            user_name=#{userName},
        </if>
        <if test="password!=null">
            password=#{password},
        </if>
        <if test="email!=null">
            email=#{email},
        </if>
        <if test="icon!=null">
            icon=#{icon}
        </if>
        update_time=#{updateTime}
        WHERE id=#{id}
    </update>
    <select id="findByEmailOrNameAndPassword" resultMap="userResultMap">
        SELECT id,email,password,user_name,role,icon FROM user
        WHERE
        <choose>
            <when test="email!=null">
                email=#{email}
            </when>
            <when test="userName!=null">
                user_name=#{userName}
            </when>
        </choose>
        and password=#{password}
    </select>
    <select id="findById" resultMap="userResultMap">
        SELECT id,email,password,user_name,role,icon FROM user
        WHERE id=#{id}
    </select>
    <select id="findByNameOrEmail" resultMap="userResultMap">
        SELECT id,email,password,user_name,role FROM user
        WHERE 1=1
        <if test="email!=null">
            and email=#{email}
        </if>
        <if test="name!=null">
            and name=#{name}
        </if>
    </select>
</mapper>