<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzj.dao.AssortmentDao" >
    <cache/>
    <resultMap id="assortmentResultMap" type="com.lzj.domain.Assortment">
        <id column="id" property="id"></id>
        <result column="assortment_name" property="assortmentName"></result>
        <result column="article_num" property="articleNum"/>
        <result column="create_time" property="createTime"/>
        <result column="current_account_id" property="currentAccountId"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <sql id="userColumns">
    ${alias}.assortment_name,
    ${alias}.article_num,
    ${alias}.create_time,
    ${alias}.update_time
    </sql>
    <insert id="insertAssortment" useGeneratedKeys="true" keyProperty="id" flushCache="true">
      INSERT INTO tb_assortment
      (assortment_name, current_account_id, article_num, create_time, update_time)
      VALUES
      (#{assortmentName},#{currentAccountId},#{articleNum},#{createTime},#{updateTime})
    </insert>
    <select id="findByUserIdAndName" resultMap="assortmentResultMap" useCache="true">
      SELECT t.id ,<include refid="userColumns"><property name="alias" value="t"/></include>
        FROM  tb_assortment t WHERE t.current_account_id=#{userId} and t.assortment_name=#{name}
    </select>
    <select id="findAssortmentByUserId" resultMap="assortmentResultMap">
        select t.id ,<include refid="userColumns"><property name="alias" value="t"/></include>
        FROM tb_assortment t where t.current_account_id = #{userId}
    </select>
    <select id="updateAssortment" flushCache="true">
        UPDATE tb_assortment SET
        <if test="name!=null">
            assortment_name=#{name},
        </if>
        <if test="num!=null">
            article_num=#{num}
        </if>
        WHERE id=#{id}
    </select>
</mapper>