<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzj.dao.FriendDao">
    <resultMap id="friendMap" type="com.lzj.domain.Friend">
        <id column="id" property="id"></id>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="current_account_id" property="currentAccountId"/>
        <result column="friend_id" property="friendId"/>
        <result column="special_attention" property="specialAttention"/>
        <result column="is_defriend" property="isDefriend"/>
        <result column="friend_name" property="friendName"/>
        <result column="friend_status" property="status"/>
        <result column="group_id" property="groupId"/>
    </resultMap>
    <sql id="friendField">
        create_time,
        update_time,
        current_account_id,
        friend_id,
        special_attention,
        is_defriend,
        friend_name,
        friend_status,
        group_id
    </sql>
    <sql id="base">
        f.id,
        f.create_time,
        f.update_time,
        f.current_account_id,
        f.friend_id,
        f.special_attention,
        f.is_defriend,
        f.friend_name,
        f.friend_status,
        f.group_id
    </sql>
    <insert id="insertFriend" keyProperty="id" useGeneratedKeys="true">
        INSERT into tb_friend (<include refid="friendField"/>)
        VALUES
        (
        #{createTime},
        #{updateTime},
        #{currentAccountId},
        #{friendId},
        #{specialAttention},
        #{isDefriend},
        #{friendName},#{status},#{groupId})
    </insert>
    <delete id="deleteFriend">
        DELETE from tb_friend WHERE friend_id =#{friendId} and current_account_id =#{currentAccountId}
    </delete>
    <update id="updateFriend" flushCache="true">
        UPDATE tb_friend
        <set>
            <if test="isDefriend != null">
                is_defriend = #{isDefriend},
            </if>
            <if test="status != null">
                friend_status=#{status},
            </if>
            <if test="specialAttention != null">
                special_attention=#{specialAttention},
            </if>
            <if test="groupId != null">
                group_id = #{groupId},
            </if>
            <if test="friendName != null">
                friend_name = #{friendName},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
        </set>
        WHERE current_account_id =#{currentAccountId} and friend_id=#{friendId}
    </update>
    <select id="findFriends" resultMap="friendMap">
        SELECT
        <include refid="friendField"/>, id from tb_friend
        where
        1=1
        <if test="friendId != null">
            and friend_id = #{friendId}
        </if>
        <if test="currentAccountId != null">
            AND current_account_id = #{currentAccountId}
        </if>
        <if test="status != null">
          and  friend_status = #{status}
        </if>
        <if test="groupId != null">
            and group_id = #{groupId}
        </if>
    </select>
</mapper>