<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzj.dao.FunctionDao" >
    <resultMap id="functionMap" type="com.lzj.domain.Function">
        <id column="id" property="id"></id>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="authority" property="authority"/>
        <result column="describtion" property="describtion"/>
    </resultMap>
    <resultMap id="conferenceFunctionMap" type="com.lzj.domain.ConferenceFunction">
        <id column="id" property="id"/>
        <result column="function_id" property="functionIds" javaType="java.util.ArrayList" jdbcType="VARCHAR" typeHandler="com.lzj.utils.handler.ListTypeHandler"/>
        <result column="conference_id" property="conferenceId" />
        <result column="member_id" property="memberId"/>
        <result column="sponsor_id" property="sponsorId"/>
    </resultMap>
    <sql id="base">
      create_time,
      update_time,
      authority,
      describtion
    </sql>
    <sql id="aliasBase">
      f.id ,
      f.create_time,
      f.update_time,
      f.authority,
      f.describtion
    </sql>
    <insert id="insertFunctions">
        INSERT into tb_function
        (<include refid="base"></include>,id)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (now(),now(),#{item.authority},#{item.describtion},#{item.id})
        </foreach>
    </insert>
    <insert id="insertFunction" useGeneratedKeys="true" keyProperty="id" >
      INSERT INTO tb_function
      (<include refid="base"></include>, id)
      VALUES
      (#{createTime},#{updateTime},#{authority},#{describtion})
    </insert>
    <select id="findFriendFunction" resultMap="functionMap">
        SELECT
        <include refid="aliasBase"></include>
        FROM tb_function f left join tb_friend_function ff on f.id = ff.function_id
        where ff.current_account_id = #{friendId} and ff.friend_id = #{currentAccountId}
    </select>
    <select id="findGroupFunction" resultMap="functionMap">
        SELECT
        <include refid="aliasBase"></include>
         from tb_function f left join tb_group_function gf on f.id= gf.function_id
        left join tb_friend tf on tf.group_id = gf.group_id
        WHERE gf.current_account_id = #{friendId} and tf.friend_id = #{currentAccountId}
    </select>
    <select id="findConferenceFunction" resultMap="conferenceFunctionMap">
        SELECT function_id,conference_id,member_id,sponsor_id from tb_conference_function
        WHERE member_id = #{memberId} and conference_id = #{conferenceId}
    </select>
    <select id="findConferenceFunctions" resultMap="conferenceFunctionMap">
        SELECT function_id,conference_id,member_id,sponsor_id
        FROM tb_conference_function
        WHERE
        1=1 AND
        conference_id in
        <foreach collection="param" open="(" close=")" separator="," item="item">
            #{item.id}
        </foreach>
    </select>
    <select id="findAll" resultMap="functionMap">
         SELECT id,
        <include refid="base"/>
          FROM tb_function
    </select>
</mapper>