<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzj.dao.ChatDao" >
    <resultMap id="groupFriendMap" type="com.lzj.domain.GroupFriend">
        <id column="id" property="id"></id>
        <result column="current_account_id" property="currentAccountId"></result>
        <result column="group_id" property="groupId"></result>
        <result column="friend_id" property="friendId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateCreate"/>
    </resultMap>
    <sql id="groupFriedColumns">
        current_account_id,
        group_id,
        friend_id,
        create_time,
        update_time
    </sql>
    <insert id="insertGroupFriend" useGeneratedKeys="true" keyProperty="id">
        INSERT into tb_group_friend
        (<include refid="groupFriedColumns"/>)
        VALUES
        (#{currentAccountId},
        #{groupId},
        #{friendId})
    </insert>
    <update id="updateGroupFriend">
        UPDATE tb_group_friend
        SET group_id = #{groupId}
        WHERE
        current_account_id =#{currentAccountId}
        and
        friend_id = #{friendId}
    </update>
</mapper>