<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzj.dao.MessageDao" >
    <resultMap id="messageMap" type="com.lzj.domain.MessageInfo">
        <id column="id" property="id"></id>
        <result column="content" property="content"></result>
        <result column="from_user_id" property="fromAccountId"/>
        <result column="to_user_id" property="toAccountId"/>
        <result column="create_time" property="createTime"/>
        <result column="type" property="type"/>
        <result column="flag" property="flag"/>
    </resultMap>
    <sql id="columns">
        content,
        from_user_id,
        to_user_id,
        create_time,
        type,
        flag
    </sql>
    <insert id="insertMessage" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO message
        (<include refid="columns" ></include>)
        VALUES (#{content},#{fromAccountId},#{toAccountId},#{createTime},#{type},#{flag})
    </insert>
    <select id="getMessageByToUserIdAndType" resultMap="messageMap" >
        SELECT id ,<include refid="columns"></include>
        FROM message
        WHERE to_user_id=#{toAccountId} AND type=#{type}
    </select>
    <select id="getMessages" resultMap="messageMap">
        select id,<include refid="columns"></include>
        FROM message
        WHERE
        <foreach collection="map" index="key" item="value" separator="and">
            <if test="key!=null">
                ${key}=#{value}
            </if>
        </foreach>
    </select>
    <update id="updateType">
        update message SET type=#{type} where id=#{id}
    </update>
</mapper>