<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzj.dao.PictureGroupDao" >
    <resultMap id="pictureGoupMap" type="com.lzj.domain.PictureGroup">
        <id column="id" property="id"></id>
        <result column="current_account_id" property="currentAccountId"/>
        <result column="picture_group_name" property="pictureGroupName"/>
        <result column="group_describe" property="pictureDescribe"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
    <sql id="pictureGroupField">
        current_account_id,
        picture_group_name,
        group_describe,
        update_time,
        create_time
    </sql>
    <sql id="pictureGroupFieldWithId">
        current_account_id,
        picture_group_name,
        group_describe,
        update_time,
        create_time,
        id
    </sql>
    <select id="findByCurrentAccountIdAndGroupId" resultMap="pictureGoupMap">
        SELECT <include refid="pictureGroupFieldWithId"></include>
        FROM tb_picture_group WHERE
        current_account_id = #{currentAccountId}
        and id = #{id}
    </select>
    <insert id="insertPictureGroup" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO tb_picture_group
        (<include refid="pictureGroupField"/>)
        VALUES
        (#{currentAccountId},#{pictureGroupName},#{pictureDescribe},#{updateTime},#{createTime})
    </insert>
    <select id="findByCurrentAccountIdAndGroupName" resultMap="pictureGoupMap">
        SELECT <include refid="pictureGroupFieldWithId"></include>
        from tb_picture_group WHERE current_account_id = #{currentId} and picture_group_name = #{groupName}
    </select>
    <select id="findByCurrentAccountId" resultMap="pictureGoupMap">
        SELECT <include refid="pictureGroupFieldWithId"></include>
        FROM tb_picture_group where current_account_id = #{param}
    </select>
</mapper>